In [3]:
from google.cloud import dialogflow
from google.api_core.exceptions import InvalidArgument
import os
DIALOG_FLOW_PROJECT_ID = "tribal-archery-386911"
DIALOGFLOW_LANGUAGE_CODE = "en"
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = 'private_key.json'
text = input()
text_input = dialogflow.TextInput(text=text, language_code=DIALOGFLOW_LANGUAGE_CODE)
SESSION_ID = 'me'
session_client = dialogflow.SessionsClient()
session = session_client.session_path(DIALOG_FLOW_PROJECT_ID, SESSION_ID)
query_input = dialogflow.QueryInput(text=text_input)
try:
  response = session_client.detect_intent(request={"session": session, "query_input": query_input})
except InvalidArgument:
  raise

print("Query text: {}".format(response.query_result.query_text))
print("Detected intent: {} (confidence: {})\n".format(response.query_result.intent.display_name,
                                                       response.query_result.intent_detection_confidence))
intent = response.query_result.intent.display_name
ents = {}
for entity in response.query_result.parameters:
  print("Detected entity: {} = {}".format(entity, response.query_result.parameters[entity]))
  ents[entity] = response.query_result.parameters[entity]
print("Fulfillment text: {}\n".format(response.query_result.fulfillment_text))

Query text: What are the ai jobs in coimbatore?
Detected intent: list_of_companies (confidence: 0.6097190976142883)

Detected entity: location = Coimbatore
Detected entity: company_name =
Detected entity: jobtitle =
Detected entity: company_type =
Detected entity: job_type =
Fulfillment text:

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("final_df.csv")

In [5]:
df.head()

,Unnamed: 0,ID,TITLE,RAW,COMPANY_NAME,LOCATION,QUALIFICATIONS,SKILLS,JOBTYPE
0,0,ID0,ML/AI Engineer,"Job description Develop, train, deploy and mai...",YOROSIS Technologies,"Coimbatore, Tamil Nadu",NaN,"['text extraction', 'Natural Language Models.'...","['Full-time, Regular / Permanent']"
1,1,ID1,Data Analyst (AI/ML),About Us Mallow is a custom software developme...,Mallow Technologies,"Coimbatore, Tamil Nadu","['3 to 6 years of relevant experience', 'Senio...","['Data Analytics', 'feedback loop', 'Python', ...",NaN
2,2,ID2,AI ML Developers for Interior Monitoring Syste...,Company Description Bosch Global Software Tech...,Bosch Group,"Coimbatore, Tamil Nadu","['Degree in AI/ML/Data Science', 'B.Tech, M.Te...","['Model, Algorithm development', 'Good knowled...",NaN
3,3,ID3,Solution architect,Solution Architect We are looking for world-cl...,Ultrafly Solutions private limited,"Coimbatore, Tamil Nadu",['Bachelor’s or Master’s degree in Computer Sc...,"['Full Stack developer', 'Elasticsearch', 'arc...","['Full-time, Regular / Permanent']"
4,4,ID4,Sr.Data Analytics,Qualification UG in Engineering degree prefera...,Sharadha Terry Products Private Limited,"Coimbatore, Tamil Nadu","['Minimum 3 years in manufacturing company', '...","['good understanding of Data warehousing', 'sc...",['Full-time']

In [ ]:
if intent == "list_of_companies":